@import url('https://fonts.googleapis.com/css?family=Montserrat&amp;display=swap');

p, input, .btn, .separator, a, h2, footer {
    font-family: Montserrat, sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.maxWith, body {
    max-width: 1200px;
    margin: 0 auto;
}

.note {
    font-size: 14px;
    opacity: 0.35;
}

h6 {
    opacity: 0.35;
    font-weight: bold;
    font-size: 13px;
    letter-spacing: 1.5px;
    font-family: Prompt, sans-serif;
}

.mathResultCard {
    float: left;
    background-color: #f3f3f3;
    padding: 20px;
    border-radius: 20px;
    border: 2px solid #ececec;
    height: 300px;
    width: 31%;
    margin: 1%;
    display: block;
    overflow: hidden;
}

@media (max-width: 992px) {
    .mathResultCard {
        width: 48%;
    }
}

@media (max-width: 768px) {
    .mathResultCard {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 15px;
    }
}

.cardsGrid {
    width: 100%;
}

.blur-background {
    background-color: rgba(33, 37, 41, 0.85);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

footer {
    color: white;
    font-size: 12px;
    padding: 15px;
    height: 50px;
    bottom: 0;
    left: 0;
    right: 0;
    margin-bottom: 0;
}

.footer-link, .footer-link:visited, .footer-link:link {
    font-family: "Cutive Mono", monospace;
    font-size: 12px;
    margin: 0 0 0.5em;
    line-height: 1.5;
    opacity: 0.85;
    transition: opacity .2s ease-in-out, text-shadow .2s ease-in-out;
    color: inherit;
    text-decoration: none;
    padding: 15px;
}

.footer-link:hover {
    opacity: 1;
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.7);
    animation: none;
    color: white;
}

hr {
    margin: 5px 0 15px;
    color: rgb(162, 162, 162);
}

.mathResultCardEnlargeButton {
    padding: 0;
    border: none;
    background: none;
    transition: opacity ease-in-out 200ms;
}

.mathResultCardEnlargeButton:hover {
    opacity: 0.4;
}

.mathResultCardEnlargeButton:active {
    opacity: 0.8;
}

.mathTextResultDescription {
    opacity: 0.5;
}

.mathTextResult {
    font-size: 18px;
}

h3 {
    font-size: 23px;
    padding-top: 50px;
    text-align: center;
    color: rgb(24, 24, 24);
    font-family: Montserrat, sans-serif;
    padding-bottom: 50px;
}

h2 {
    font-weight: bold;
    font-size: 26px;
}

.back-button {
    color: #075ad3;
    text-decoration: none;
    transition: ease-in-out 250ms;
}

.back-button:hover {
    color: #0043a1;
}

.back-button:active {
    color: #2f87ff;
}

.mathText, .mathTextResult {
    font-family: Quicksand, sans-serif;
}

.errorText {
    color: darkred;
    text-decoration: none;
    animation: ease-in-out 500ms;
}

.errorText:hover {
    color: #ad0000;
}

h1 {
    font-family: Quicksand, sans-serif;
    font-size: 60px;
    color: var(--bs-gray-100);
}

body {
    background: var(--bs-gray-900);
    margin-bottom:50px;
}

.form-control {
    background-color: #f5f5f5;
}

.form-button {
    padding-top: 20px
}

.form-card {
    padding: 40px 40px 40px;
    border-radius: 20px;
}

.signin-button > div > div > svg {
    height: 38px;
}

.text-on-dark {
    color: var(--bs-gray-300);
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 14px;
    color: #5b5b5b;
    padding-top: 5px;
    padding-bottom: 5px;
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #dedede;
}

.separator:not(:empty)::before {
    margin-right: .8em;
}

.separator:not(:empty)::after {
    margin-left: .8em;
}

.frac {
    display: inline-block;
    position: relative;
    vertical-align: middle;
    letter-spacing: 0.001em;
    text-align: center;
}
.frac > span {
    display: block;
    padding: 0.1em;
}
.frac span.bottom {
    border-top: thin solid black;
}
.frac span.symbol {
    display: none;
}